.text-14px-white {
  color: background;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-14px-grayDark {
  color: #4a5568;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.shadow-4-canh {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.sub-menu {
  transform-origin: 50% -30px;
}
